* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px red dotted;
}

body {
    background-color: #FEFBF7;
    color:#161616;
    font-family: "inter", sans-serif;
    letter-spacing: .1em;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    margin: 0 auto;
}

nav {
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 50px;
    text-align: center;
}


nav .logo {
    color: #FEFBF7;
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05em;
    align-content: center;
    line-height: 1em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    text-align: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #FEFBF7;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

nav ul li a:hover {
    color:#dbf985;
}

.site-container {
    display: flexbox;
}

.hero-title,
.gallery-title {
    font-size: 3rem;
}

#home {
    align-items: center;
    text-align: center;
    padding: 3rem;
}

#about {
    background-color: #7b3b53;
    padding: 3rem;
}

.about-container {
    display: flex;
    align-items: center;
}

.about-container .left,
.about-container .right {
    flex: 1;
}

.about-container .left figure img {
    max-width: 100%;
    height: auto;
    display: block;
    
}

.about-container .left {
    background-color:#5ebea4;
}

.about-container .right {
    background-color: #FEFBF7;
    float: right;
}

#work {
    align-items: center;
    text-align: center;
    color: #7b3b53;
    padding: 3rem;
}

#work-container {
    display: flex;
}

.project {
    display: flex-box;
    justify-content: space-between;
    flex: 1;

}

.project-text {
    padding: 2rem;
}

#action {
    align-items: center;
    text-align: center;
    background-color: #5ebea4;
    padding: 3rem;
}

.highlight-lime {
    color:#dbf985;
}

.highlight-white {
    color:#FEFBF7;
}

#footer {
    color:#FEFBF7;
    background-color:#161616;
    padding: 3rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    
}

.footer-contact,
.footer-socials {
    flex: 1;
}

.footer-container figure img {
    max-width: 100%;
    height: auto;
    flex: 1;
}

.copywriting {
    display: block;
}
