* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px red solid; */
}

body {
    background-color:rgb(58, 58, 144);
    color: antiquewhite;
    font-family: helvetica, sans-serif;
    letter-spacing: .1em;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

nav {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 50px;
    text-align: center;
}


nav .logo {
    color:rgb(255, 118, 255);
    font-family: "Truculenta", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05em;
    align-content: center;
    line-height: 1em;
    padding-right: 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    text-align: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color:rgb(255, 118, 255);
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

nav ul li a:hover {
    color:aliceblue;
}

/* Logo Font Weight Control */
.truculenta-<uniquifier> {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.logo .black {
    font-weight: 900;
}

.logo .bold {
    font-weight: 700;
}

.logo .semi-bold {
    font-weight: 500;
}

.logo .regular {
    font-weight: 400;
}

.logo .light {
    font-weight: 300;
}

.logo .extra-light {
    font-weight: 200;
}

.logo .thin {
    font-weight: 100;
}
/* End of Logo Font Weight Control */