* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px red dotted;
}

header {
    overflow: visible;
}

nav {
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 30px 50px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}


nav .logo {
    color: #FEFBF7;
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05em;
    align-content: center;
    line-height: 1em;
    margin-right: 1.5em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1.5em;
}

nav ul li {
    gap: 50px;
}

nav ul li a {
    color: #FEFBF7;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

nav ul li a:hover {
    color:#dbf985;
}

body {
    background-color: #FEFBF7;
    color:#161616;
    font-family: "inter", sans-serif;
    letter-spacing: .1em;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    margin: 0 auto;
}

.site-container {
    display: flexbox;
}

.hero-title,
.gallery-title {
    font-size: 3rem;
    color: #7b3b53;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em;
    margin-top: 80px;
}

.home-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.button {
    margin-top: 1.5em;
    padding: .5em 1em;
    border: 1.5px solid #7b3b53;
    border-radius: .5em;
    background-color:#FEFBF7;
    color:#7b3b53;
    font-weight: 700;
    text-decoration: none;
}

.button:hover {
    color: #FEFBF7;
    background-color: #7b3b53;
}

#about {
    background-color: #7b3b53;
    padding: 3em;
}

.about-container {
    display: flex;
    align-items: center;
}

.about-container .left,
.about-container .right {
    flex: 1;
    gap: 20px;
}

.about-container .left figure img {
    max-width: 100%;
    height: auto;
    display: block;
    
}

.about-container .left {
    background-color:#5ebea4;
}

.about-container .right {
    background-color: #FEFBF7;
    float: right;
}

#work {
    align-items: center;
    text-align: center;
    color: #7b3b53;
    padding: 3em;
}

#work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery-title {
    margin-bottom: .5em;
}

.project {
    display: flex;
    display: block;
    justify-content: space-between;
    text-align: center;
    flex: 1;
    flex-grow: 1;
}

.project-text {
    padding: 2em 0;
    max-width: 350px;
    margin: auto;
}

.project-text h5 {
    min-height: 5em;
}

.skill-tag {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;
    max-width: 350px;
    margin: auto;

}

.skill-tag p {
    background:#161616;
    color: #FEFBF7;
    display: flex;
    padding: .5em 1em;
    align-items: center;
    text-align: center;
    font-size: small;
}

@media (max-width: 768px) {

    #work-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .project {
        width: 100%;
        max-width: 400px;
        flex: none;
    }
}

#action {
    align-items: center;
    text-align: center;
    background-color: #5ebea4;
    padding: 3em;
    display: flex;
    flex-direction: column;
}

#action a.button {
    background-color:#dbf985;
}

.highlight-lime {
    color:#dbf985;
}

.highlight-white {
    color:#FEFBF7;
}

#footer {
    color:#FEFBF7;
    background-color:#161616;
    padding: 3em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    
}

.footer-contact,
.footer-socials {
    flex: 1;
}

.footer-container figure img {
    max-width: 100%;
    height: auto;
    flex: 1;
}

.copywriting {
    display: block;
}
